<div class="root-container">
  <!-- <h1 class="mat-headline-1">Nimble</h1> -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="mat-headline-3">Nimble</mat-card-title>
      <mat-card-subtitle>Companion Safety</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Real time autonomous 3D safety.</p>
      <p class="dev-message">In Development</p>
    </mat-card-content>
    <mat-card-actions>
      <img src="/assets/ios-preorder.svg" />
    </mat-card-actions>
  </mat-card>
  <div class="ios-frame">
    <iframe width="100%" height="100%" allow="microphone" src="https://nimble-app-six.vercel.app"></iframe>
  </div>
</div>